{{> head }}

    {{> navbar }}
<div class="row">

    <div class="col-4">
        <h1>Gréfico de Grafana</h1>  
    </div>
    <div class="col-8">
        <img src= "assets/img/grafana.png" alt="imagen de un gráfico de grafana" class="img-thumbnail">   
    </div>
</div>
    {{> footer }}